@tailwind base;
@tailwind components;
@tailwind utilities;

/* these values were given to me by the challenge itself */

/* 
- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

@layer base {
  html {
    background: hsl(0, 0%, 98%);
  }
  .dark {
    @apply h-full;
    background: hsl(207, 26%, 17%);
  }
}

@layer utilities {
  .light-bg {
    background: hsl(0, 0%, 98%);
  }

  .dark-bg {
    background: hsl(207, 26%, 17%);
  }

  .light-element {
    background-color: white;
  }

  button:active {
    transform: scale(0.9);
  }

  .light-text {
    color: hsl(200, 15%, 8%);
  }

  .dark-text {
    color: white;
  }

  .light-input {
    background-color: hsl(0, 0%, 52%);
  }

  .dark-element {
    background-color: hsl(209, 23%, 22%);
  }
}
